<% include header.ejs %>
      <div class="container">
        <% include admin_menu.ejs %>
        <section class="admin_section">
          <div class="admin_content">
            <div class="admin_title">
              <h1>정기주차 고객 명단</h1>
            </div>
            <table>
               <tr>
                 <th>번호</th>
                 <th>이름</th>
                 <th>차량번호</th>
                 <th>가입날짜</th>
                 <th>종료날짜</th>
               </tr>
               <%
               for(var i=0; i<results.length; i++)
               {
               %> 
                <tr>
                  <td><%=results[i].mid%></td>
                  <td><%=results[i].name%></td>
                  <td><%=results[i].vehicle_num%></td>
                  <td><%=results[i].start_date%></td>
                  <td><%=results[i].end_date%></td>
                </tr>
               <% 
               }
               %>
            </table>
          </div>
        </section>
      </div>
<% include footer.ejs %>
